/* <---------- main section ----------> */
.title-main {
  background-color: #2379ac;
  height: 47px;
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-main h2 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
}

.title-main span {
  display: none;
}

/* <---------- form section ----------> */

.contact-form {
  margin-top: 55px;

  flex-flow: column;
  align-items: center;
}

.contact-form p {
  font-family: 'Century Gothic';
  font-size: 19px;
  font-weight: bold;
  line-height: 1.21;

  color: #2379ac;
}

.contact-form form {
  margin-top: 35px;
  width: 440px;

  flex-flow: column wrap;
  align-items: center;
}

.contact-form input {
  border: solid 1px #ffa025;
  height: 37px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Century Gothic';
  font-size: 13px;
  line-height: 1.23;
  color: #2379ac;
}

.contact-form textarea {
  border: solid 1px #ffa025;
  resize: none;
  width: 100%;
}

.contact-form button {
  width: 370px;
  height: 35px;
  border-radius: 25px;
  background-color: #ffa025;
  border-width: 0;
  color: #fff;
  font-weight: bold;
}

/* <---------- aside section ----------> */

aside {
  margin-top: 45px;
}


/* <---------- information section ----------> */

.information {
  max-width: 420px;
  min-width: 420px;

  flex-flow: column;
  align-content: center;
}

.info-box {
  background-color: #2379ac;
  border-radius: 5px;
  color: #fff;
  max-height: 100px;
  min-height: 100px;
}

.info-box h3 {
  border-bottom: 1px solid #fff;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
}

.info-box p {
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}

/* <---------- footer section ----------> */

footer {
  box-shadow: inset 0 3px 6px 0 rgba(185, 185, 185, 0.39);
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* <---------- main section 576px ----------> */
  main {
    display: flex;
    flex-flow: row wrap;
  }

  .title-main {
    height: 98px;
  }

  /* <---------- form section 576px ----------> */

  .contact-form form {
    width: 525px;
  }

  .contact-form form textarea {
    height: 245px;
  }

  /* <---------- aside section 576px ----------> */
  aside {
    max-width: 240px;
    min-width: 240px;
  }

  aside p {
    text-align: left;
  }

  aside hr {
    width: 100%;
  }

  .others-seen-container {
    flex-flow: column;
    align-items: center;
  }

  .others-seen-info p {
    text-align: center;
  }

  .others-seen-hidden-md {
    display: none;
  }

  /* <---------- information section 576px ----------> */

  .information {
    max-width: 266px;
    min-width: 266px;
  }

  .info-box {
    max-height: 121px;
    min-height: 121px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* <---------- main section 768px ----------> */

  .title-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-main h2 {
    margin-right: 40%;
  }

  .title-main span {
    display: block;
    color: #fff;
    font-size: 10px;
    height: 12px;
    line-height: 15px;
  }

  .contact-form {
    width: 100%;
  }

  /* <---------- aside section 768px ----------> */

  aside {
    margin: 0 !important;
    max-width: 280px;
    min-width: 280px;

    order: 1;
  }

  aside hr {
    width: 100%;
  }

  .others-seen-box {
    justify-content: space-between;
  }

  .others-seen-box img {
    width: 119px;
    height: 78px;
  }

  .others-seen-hidden-md {
    display: flex;
  }

  /* <---------- information section 768px ----------> */

  .information {
    margin-top: 4.8rem !important;
    max-width: 332px;
    min-width: 332px;

    order: 2;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* <---------- main section ----------> */
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  /* <---------- form section 992px ----------> */
  .contact-form {
    max-width: 568px;
    min-width: 568px;

    order: 2;
  }

  .contact-form form {
    width: 568;

  }

  /* <---------- aside section 992px ----------> */
  .others-seen-box {
    justify-content: center;
  }

  /* <---------- information section 768px ----------> */

  .information {
    max-width: 100%;
    min-width: 100%;

    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .info-box {
    max-width: 260px;
    min-width: 260px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* <---------- main section 1200px ----------> */

  main {
    justify-content: space-around;
  }

  /* <---------- footer section 1200px ----------> */

  .certified {
    left: 50%;
  }
}